SPRING_PROFILES_ACTIVE=prod

AFT_DB_NAME=aft_api
AFT_DB_USER=aft_api
AFT_DB_PASSWORD=Akg1312!

AFT_API_HOST_BIND=0.0.0.0
AFT_API_HOST_PORT=8092
AFT_SERVER_PORT=8092

AFT_JWT_SECRET=2140N7V5+ygfZq2oN5vtDqAZHbRQidE1dg4LXR//iVw=
AFT_JWT_ACCESS_TTL=PT15M
AFT_JWT_REFRESH_TTL=P30D

AFT_CORS_ORIGINS=http://localhost:5173

AFT_LOGIN_MAX_ATTEMPTS=5
AFT_LOGIN_LOCK_DURATION=PT15M
AFT_RATE_ANON=20
AFT_RATE_AUTH=300
AFT_RATE_AGENT=30

AFT_AI_REQUEST_TIMEOUT=PT300S
AFT_AI_MAX_WINDOW_MESSAGES=40
AFT_AI_MAX_WINDOW_TOKENS=24000
AFT_AI_TOOL_TIMEOUT_MS=PT30S
AFT_AI_MAX_TOOL_HOPS=12
AFT_AI_MAX_TOOL_RESULT_BYTES=262144

OLLM_BASE_URL=https://foa.akgun.com.tr/v1
OLLM_API_KEY=sk-O-fuSBzcY3O9vb7m02kuCQ
OLLM_DEFAULT_TIER=FAST
OLLM_MODEL_FAST=Akgun-Q3.6
OLLM_MODEL_SLOW=Akgun-Q3.6
OLLM_MODEL_ULTRA=Akgun-Q3.6
OLLM_TEMPERATURE=0.3

AFT_DOCS_ENABLED=false

AFT_LOG_LEVEL=INFO